# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# Database
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# IDE and miscellaneous
.idea/
*.swp
*.swo

# Generated GUIDs
*.guid
